@font-face {
    font-family: 'NRR';
    src: local('Neue Regrade'), url(./fonts/Neue\ Regrade/Neue\ Regrade\ Regular.otf) format('opentype');
}

@font-face {
    font-family: 'NRL';
    src: local('Neue Regrade'), url(./fonts/Neue\ Regrade/Neue\ Regrade\ Light.otf) format('opentype');
}

@font-face {
    font-family: 'NRB';
    src: local('Neue Regrade'), url(./fonts/Neue\ Regrade/Neue-Regrade\ Bold.otf) format('opentype');
}

:root {
    --debugHelper: 2px solid rgb(33, 168, 6);
}

/* var(--debugHelper) */

.Column {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Left-half {
    width: 50%;
    height: 100vh;
    background-image: url(./img/peri_wallp.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100vh;
}

.Wrapper {
    position: relative;
    width: calc(80% / 2);
    height: 100%;
    margin: 0 auto; /* Center the Wrapper to the width of .Left-half */
    background-color: transparent;
    border: none;
    z-index: 1; /* Bring the Wrapper into the foreground */
}

.W_Placeholder {
    position: relative;
    height: calc(1/6 * 100vh);
    width: 100%;
}

.W_Mid_Placeholder {
    position: relative;
    height: calc(1/4 * 100vh);
    width: 100%;
}

.OverlayText {
    text-align: left;
    line-height: 0; /* Set line spacing to 0 */
    
}

h1 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
}

h2 {
    font-size: 1em;
    font-weight: 200;
    margin: 0%;
    line-height: 1;
}

.Right-half {
    width: 50%;
    height: 100vh;
    background-position: left center;
    background-repeat: no-repeat;
}

.SSO {
    background-color: #0078D4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    width: 100%; /* Set width to 100% */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SSO:hover {
    background-color: #005A9E;
    
}


/* Profile Page */

.ParentWrapper {
    z-index: 0;
    background-color: #cfcfcf;

    /* border: var(--debugHelper); */
}

.TopBarSpacing {
    width: 100vh;
    height: 8vh;
    background-color: transparent;
    /* border: var(--debugHelper); */
}

.WrapperContent {
    display: flex;
    /* border: var(--debugHelper); */
    background-color: #cfcfcf;
}

.LeftSideContent {
    min-width: 400px;
    width: calc(100vw - 1200px);
    height: 102vh;
    background-color: #D00022;
    display: flex;
    flex-direction: row;
    border-top-right-radius: 50px; /* Add round corner to the upper right */
    position: relative;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    /* border: var(--debugHelper); */
}

.Partition_1 {
    width: 20vh;
    height: 100vh;
    display: flex;
    align-self: flex-start;
    z-index: 2;
    /* border: var(--debugHelper); */
}

.Partition_1_W {
    display: flex;
    flex-direction: column;
    width: 32vh;
    height: auto;
    z-index: 3;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.Grid1 {
    display: flex;
    height: 10vh;
    z-index: 4;
    align-self: center;
    justify-content: flex-end;

    /* border: var(--debugHelper); */
}

/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "NRL";
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #7e7e7e;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.Partition_2 {
    width: 8vh;
    display: flex;

    /* border: var(--debugHelper); */
}

.Partition_3 {
    align-self: flex-start;
    width: 60vh;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 7.5vh;
    z-index: 2;
    /* border: var(--debugHelper); */
}

.RightSideOverlapping {
    width: fit-content;
    position: absolute;
    height: 94vh;
    background-color: #ffffff;
    border-top-left-radius: 50px; /* Add round corner to the upper left */
    margin-left: 20vh;
    margin-top: 8vh;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    /* border: var(--debugHelper); */
}

.RightSideContent {
    display: flex;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: var(--debugHelper); */
}

.Partition_L_1 {
    max-width: 15vw;
    min-width: 15vw;
    height: 94vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: transparent  ;    
    /* border: var(--debugHelper); */
}

.Partition_L_2 {
    max-width: calc(100vw - 20vh);
    min-width: calc(100vw - 20vh);
    height: 94vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-x: hidden;
    /* border: var(--debugHelper); */
}

.PL2_TopSpacing {
    width: 100%;
    height: 15vh;
    background-color: transparent;
    align-self: flex-start;
    z-index: 1;

    /* border: var(--debugHelper); */
}

.P_Q_List {
    align-self: flex-start;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    max-width:calc(100vw - 35vh);
    min-width:calc(100vw - 35vh);
    overflow-x: hidden;
    
}

.PGL_Item {
    display: flex;
    flex-direction: row;
    height: 10vh;
    border: #e2e2e2 1px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    align-items: center;
    padding-left: 3vh;
    justify-content: space-between;
    margin: 0.1vh;
    box-shadow: rgba(255, 255, 255, 0.2) 0 3px 5px -1px,rgba(155, 155, 155, 0.14) 0 6px 10px 0,rgba(145, 145, 145, 0.12) 0 1px 18px 0;
    /* transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms; */
}

.PGL_Item:hover {
    border-color: #9e9e9e;
    cursor: pointer;
}


/* Quest (Questionnaire Page) */


.PWQ {
    z-index: 0;
    /* border-color: (var(--debugHelper)); */
    /* background-color: #005A9E; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CWQ {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 80em;
    height: fit-content;
    border-color: (var(--debugHelper));
    flex-direction: column;
    padding: 25px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    border-radius: 10px;
}

.CWQ-1 {
    width: auto;
    /* background-color: #3c4043; */
    font-family: "NRL";
}
/* Responsive Breakpoints */
@media screen and (max-width: 768px) {
    .CWQ {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .PWQ {
        height: 150vh;
    }
}
